/* Main menu setup */
.menu__wrapper.main__menu ul{
    display: flex;
    justify-content: unset;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}
.menu__wrapper.main__menu ul li{
    margin: 0 20px 0 20px;
    padding: 0;
}
.menu__wrapper.main__menu ul li a{
    color:black;
    font-size: 14px;
    font-weight: bold;
}
.menu__wrapper.main__menu.--dark ul li a{
    color:white;
}
.list__element .current__page{
    position: relative;
}
.list__element .current__page:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #d13368;
}