.header__wrapper{
    background:transparent;
    padding: 1.45rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}
.brand__wrapper .brand__link{
    color: white;
    text-decoration: none;
}
.brand__wrapper .brand__name{
    font-size: 20px; 
    margin: 0px;
}
.brand__wrapper .brand__logo{
    max-width: 120px;
    margin: 0;
}