h1, h2, h3, h4, h5, h6, ul, li{
    font-family: 'Playfair Display', serif;
}
p, a, small, i{
    font-family: 'Quicksand', sans-serif;
}
a, a:hover{
    text-decoration: none;
    color: #d13368;
}
.master__wrapper{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.master__wrapper > .container{
    padding: 70px 1.0875rem 70px;
}
.hidden__element{
    display: none;
    position: absolute;
}