.post{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 1.0875rem 200px;
    margin: 0 auto;
}
.post__content__wrapper{
    padding: 80px 130px 0;
}
.post__image img{ 
    width: 100%!important;
    height: 350px!important;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 30px 60px -10px rgba(0,0,0,0.3), 0 18px 36px -18px rgba(0,0,0,0.33);    
    margin-bottom: 50px;
    transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: relative;
    top: 0px;
}
.post__image img:hover{
    top: -3px;
    box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.08), 0 18px 36px -18px rgba(0,0,0,0.33);
}
.return__main__blog{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.return__main__blog a{
    color: #d13368;
}
.post__date{
    color: #d13368;
}
.post__category__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.post__category__wrapper .category__item{
    margin: 0 10px 0 0;
    font-size: 15px;
    color: #80808094;
    text-transform: capitalize;
}
.dynamic__image > div {
    padding-bottom: 0px!important;
    height: 350px;
}