.blog{
    padding: 200px 1.0875rem 200px;
    margin: 0 auto;
}
.blog__list .row {
    display: flex;
    flex-wrap: wrap;
}
.list__post__title{
    color: black;
}
.list__post__date{
    color: #d13368;
}
.listed__counter .row{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}
.listed__counter h5{
    padding: 0 10px 0 0;
}
.listed__counter h5 span{
    color: #d13368;
}
.return__main__blog{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.return__main__blog a{
    color: #d13368;
}

.blog__list{
    display: flex;
    margin: 50px  0 100px;
    flex-wrap: wrap;
}
.blog__list.--left .row{
    flex-direction: row-reverse;
}
.blog__list.--left .list__post__info{
    padding-right: 0px;
    padding-left: 50px;
}
.listed__counter.container__base{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}
.blog__list .list__post__info{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.list__post__image img{
    height: 100%;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 30px 60px -10px rgba(0,0,0,0.3), 0 18px 36px -18px rgba(0,0,0,0.33);    
    transition: top 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    position: relative;
    top: 0px;
    border-radius: 4px;
    max-height: 400px;
}
.list__post__image img:hover{
    box-shadow: 0 30px 60px -10px #d1336826, 0 18px 36px -18px #d1336861;  
}
.blog__list:hover img{
    top: -3px;
    box-shadow: 0 30px 60px -10px #d1336826, 0 18px 36px -18px #d1336861;  
}
.post__divider{
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background: #70809033;
}
.list__post__info.--full__width{
    max-width: 100%;
    width: 100%;
}
.list__post__info.--half__width{
    max-width: 50%;
    width: 50%;  
}
.list__post__image.--half__width{
    max-width: 50%;
    width: 50%; 
}
.list__post__author p{
    color: #d13368;
    font-size: 15px;
}
.blog__list .list__post__info.--full__width {
    padding-left: 0;
}